
body {
    font-family: var(--font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.main-bg{

    background-image: url("/assets/background.png");
    height: 100vh;
    width: 100%;
    // background-position: center;
    background-size: cover;
}
.cards-1{
    display: flex;
}


@media screen and (min-width:768px) {
    .section-left{
        margin-top: -18rem !important;
    }
}

.overlay {
    position: absolute;
    margin-top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 10; 
}



